.error {
  color: red;
  font-size: 0.875rem;
}


.contrast-body{
    background-color: black;
    color: white;
}

.contrast-btn-primary{
    background-color: yellow;
    color: black;
    border: none;
}

.contrast-btn-primary:hover{
    background-color: orange;
}